/* Styles for the input wrapper */
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/* Style for the input field */
.input-wrapper input[type='text'] {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Style for the add button */
.input-wrapper .add-button {
  padding: 10px 20px;
  border: none;
  background-color: #186be7;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-wrapper .add-button:hover {
  background-color: #186be7;
}

/* Styles for the todo list */
.todo-list {
  list-style-type: none;
  padding: 0;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

/* Styles for each todo item */
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

/* Styles for the delete button */
.todo .delete-button {
  padding: 5px 10px;
  border: none;
  background-color: #dc3545;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.completed-button {
  padding: 5px 10px;
  border: none;
  background-color: #218838;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo .delete-button:hover {
  background-color: #c82333;
}

/* Styles for the empty state */
.empty {
  text-align: center;
  margin-top: 20px;
}
h1{
  text-align: center;
}
.empty p {
  font-size: 18px;
  color: #666;
}
